# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios
/android

# build/cache/log artifacts
.kotlin/
.metro-health-check*
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
